.bwrapper{
    /* background-color: blue; */
    width: 20%;
    padding-bottom: 20px;
    color: aliceblue;
    padding-top: 10px;
    color: black;
    
}

.friends{
    display: flex;
    text-align: center;
    gap: 10px;
    color: black;
    justify-content:flex-start;
    flex-direction: column;
}