.Wrapper{
    background-color: rgba(9, 6, 6, 0.885);
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.links{
    /* background-color: blue; */
   
}

.search{
    /* background-color: green; */
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.links{
    /* background-color: aqua; */
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}